// Button Component Stylesheet
// ========================================

.button {
  @include font-type($primary-font, normal, 600, $black, 16px);
  margin-right: $spacer-xs;

  &--primary {
    @include buttons($blue, $white, $blue);

    &:hover {
      @include button--hover($brown);
      border: 2px solid $brown;
    }
  }

  &--secondary {
    @include buttons(transparent, $brown, $brown);

    &:hover {
      @include button--hover($brown);
      color: $white;
    }
  }

  &--disabled {
    @include buttons($gray, $white, darken($gray, 5%));
    transition: none;

    &:hover {
      cursor: not-allowed;
    }
  }

  &--form {
    flex-grow: 1;

    @include media($medium) {
      flex-grow: 0;
      width: 15%;
    }
  }

  &--form-submit {
    flex-grow: 3;

    @include media($medium) {
      flex-grow: 0;
      width: 25%;
    }
  }

  &--mobile {

    @include media($large) {
      display: none;
      visibility: hidden;
    }
  }

  &--desktop {
    display: none;
    visibility: hidden;

    @include media($large) {
      display: inline;
      visibility: visible;
    }
  }

  &--header {
    width: 67.5px;
    height: 24.25px;
    padding: $spacer-xxs;
  }
}
