// Button Component Stylesheet
// ========================================

.button {
  @include font-type($primary-font, normal, 600);

  &--primary {
    @include buttons($blue, $white, $blue);

    &:hover {
      @include button--hover($brown);
      border: 2px solid $brown;
    }
  }

  &--secondary {
    @include buttons(transparent, $brown, $brown);

    &:hover {
      @include button--hover($brown);
      color: $white;
    }
  }

  &--disabled {
    @include buttons($gray, $white, darken($gray, 5%));

    &:hover {
      cursor: not-allowed;
    }
  }
}
