// Chip Component Stylesheet
// ========================================

.chip {
  @include font-type($primary-font, normal, 600, $blue, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacer-s;
  width: 205px;
  border-radius: 5px;
  position: relative;
  top: -55px;

  @include media($medium) {
    min-width: 175px;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    background-color: $green;
    color: $white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer-lg;
    border: 2px solid $brown;

    &--lauren {
      background: url('../img/lauren.png') center center no-repeat;
      background-size: cover;
    }

    &--darnell {
      background: url('../img/darnell.png') center center no-repeat;
      background-size: cover;
    }

    @include media($large) {
      width: 140px;
      height: 140px;
    }
  }

  &__text-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include media($large) {
      font-size: 20px;
    }
  }

  &__text-description {
    font-weight: 400;
    color: $green;
    margin-top: $spacer-xs;
  }
}

.testimonial {
  background-color: lighten($gray, 1%);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacer-xxl;
  border-radius: 5px;
  position: relative;

  @include media($medium) {
    flex-direction: row;
    padding: $spacer-m;
  }

  &__text {
    @include sides-marg($spacer-m);
    position: relative;
  }
}
