// Chip Component Stylesheet
// ========================================

.chip {
  @include font-type($primary-font, normal, 600, $blue, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacer-s;
  width: 205px;
  border-radius: 5px;

  &__avatar {
    width: 100px;
    height: 100px;
    background-color: $green;
    color: $white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer-lg;
  }

  &__text-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-description {
    font-weight: 400;
    color: $green;
    margin-top: $spacer-xs;
  }

  @include media($large) {
    &__avatar {
      width: 140px;
      height: 140px;
    }

    &__text-container {
      font-size: 20px;
    }
  }
}
