// Chip Component Stylesheet
// ========================================

.chip {
  @include font-type($primary-font, normal, 600);
  display: flex;
  align-items: center;
  background-color: $blue;
  padding: $spacer-s;
  width: 205px;
  border-radius: 5px;

  &__avatar {
    width: 50px;
    height: 50px;
    background-color: $green;
    color: $white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacer-s;
  }

  &__text-container {
    display: inline-flex;
    flex-direction: column;
    color: $white;
  }

  &__text-description {
    font-weight: 400;
  }
}
