// Form Elements Stylesheet
// ========================================

.form {
  @include sides-marg($spacer-s);
  display: flex;
  flex-direction: column;
  align-items: center;

  :focus {
    outline-color: $green;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacer-lg;

    label {
      @include font-type($primary-font, normal, 600, $brown, 16px);
      text-align: left;
    }

    input {
      @include font-type($primary-font, normal, normal, $blue, 16px);
      background-color: $white;
      border-color: transparent;
      border-bottom: 2px solid $blue;
      padding: $spacer-s;
    }

    &--error {

      label {
        color: $red;
      }

      input {
        border-color: transparent;
        border-bottom: 2px solid $red;
      }

      :focus {
        outline-color: $red;
      }

      ::selection {
        background-color: $red;
        color: $white;
      }
    }

    &--select {

      label {
        margin-bottom: $spacer-s;
      }

      .select {
        position: relative;
        display: inline-block;
        height: 40px;
        border: 2px solid $blue;

        &::after {
          content: '';
          width: 0;
          position: absolute;
          right: 15px;
          top: 35%;
          border-width: 10px 8px;
          border-style: solid;
          border-color: $blue transparent transparent transparent;
          pointer-events: none;
        }

        select {
          @include font-type($primary-font, normal, normal, $blue, 16px);
          background-color: $white;
          padding: $spacer-xs $spacer-s;
          border-radius: 0;
          border-color: transparent;
          width: 100%;
          height: 100%;
          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }

    &--textarea {

      textarea {
        @include font-type($primary-font, normal, normal, $blue, 16px);
        background-color: $white;
        border: 2px solid $blue;
        height: 200px;
        padding: $spacer-s;
      }

      label {
        margin-bottom: $spacer-s;
      }
    }

    &--buttons {
      flex-direction: row;

      @include media($large) {
        margin-bottom: $reset-0;
      }
    }
  }
}
