// Form Elements Stylesheet
// ========================================

.form {

  :focus {
    outline-color: $green;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacer-lg;

    @include media($medium) {
      width: 60%;
    }

    @include media($large) {
      width: 40%;
    }

    // Label Styling -- Delete this if you are not using a label
    label {
      @include font-type($primary-font, normal, 600);
      font-size: 16px;
      color: $brown;
    }

    // Basic Form Input Styling
    input {
      @include font-type($primary-font, normal, normal);
      background-color: $white;
      font-size: 16px;
      color: $blue;
      border-color: transparent;
      border-bottom: 2px solid $blue;
      padding: $spacer-s;
    }

    &--error {

      label {
        color: $red;
      }

      input {
        border-color: transparent;
        border-bottom: 2px solid $red;
      }

      :focus {
        outline-color: $red;
      }

      ::selection {
        background-color: $red;
        color: $white;
      }
    }

    &--select {

      label {
        margin-bottom: $spacer-s;
      }

      // Select Form Input Styling
      select {
        @include font-type($primary-font, normal, normal);
        background-color: $white;
        font-size: 16px;
        color: $blue;
        padding: $spacer-xs $spacer-s;
        border: 2px solid $blue;
        border-radius: 0;
        height: 50px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
  }
}
