// Colors Variables Settings Stylesheet
// ========================================

$green: #A3C575;
$brown: #412D2F;
$blue: #395663;
$black: #2B2B2B;
$white: #F8F8F8;
$gray: #EDECE5;
$red: #AD6271;
$brightgreen: #8BB55A;

// Main Palette List
$colors: (
  'green':       $green,
  'brown':       $brown,
  'blue':        $blue,
  'black':       $black,
  'white':       $white,
  'gray':        $gray,
  'red':         $red,
  'brightgreen': $brightgreen
);
