// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

.body {
  background-color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-width: 320px;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // flex-direction: column;
  // text-align: center;
  // padding-bottom: $spacer-m;
  // flex: none;

  &__logo {
    padding: $spacer-s;
    // max-width: 100px;
    // height: 100%;
    width: 100%;
    max-width: 100px;
  }

  &__nav {
    // width: 100%;
    // max-width: 400px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacer-xlg $reset-0;
    min-height: 450px;

    &__logo {
      width: 100%;
      max-width: 125px;
      margin-bottom: $spacer-lg;
    }

    &__item {
      margin-bottom: $spacer-s;

      &--extra-space {
        margin-bottom: $spacer-lg;
      }
    }
  }

  @include media($medium) {
    flex-direction: row;
    padding-bottom: $reset-0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer-lg;

    &__logo {
      padding: $spacer-m $reset-0 $reset-0 $spacer-m;
      max-width: 175px;
    }

    &__nav {
      width: 50%;
      max-width: 430px;
    }
  }

  @include media($large) {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.item-container {
  margin: $spacer-lg $spacer-s;
}

.main {
  // padding: $spacer-m;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  flex: 1;
  text-align: center;

  &__section {
    padding: $spacer-xxl $reset-0;

    &--index {
      padding: $spacer-lg $reset-0 $spacer-xs;
    }

    &--about {
      padding: $spacer-lg $reset-0;
    }

    &--intro {
      margin: $spacer-m $spacer-s $spacer-xlg;
    }

    &__title {
      background: url('../img/banner.png') center center no-repeat;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacer-lg;
    }

    &__app-demo {
      width: 100%;
      max-width: 520px;
    }

    &__article {
      padding: $spacer-m $spacer-m;
    }

    &--cta {
      padding: $spacer-xxl $spacer-s;

      h3 {
        margin-bottom: $spacer-lg;
      }
    }
  }

  &__icons {
    margin: $spacer-xlg $spacer-s $reset-0;
  }
}

.circle {
  background-color: lighten($gray, 1%);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer-s;

  i {
    color: $blue;
    font-size: 70px;
  }
}

.footer {
  min-width: 320px;
  text-align: center;

  &__main {
    margin: $spacer-lg $reset-0;
  }

  &__img {
    width: 100%;
    max-width: 125px;
  }

  &__list {

    &__item {

      &--extra-space {
        margin-bottom: $spacer-lg;
      }
    }
  }
}
