// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.header {
  min-width: 320px;

  &__logo {
    padding: $spacer-s $spacer-s $spacer-xxs $spacer-xs;
    width: 100%;
    max-width: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacer-xlg $reset-0;
    min-height: 450px;

    &__logo {
      width: 100%;
      max-width: 125px;
      margin-bottom: $spacer-lg;
    }

    &__item {
      margin-bottom: $spacer-s;

      &--extra-space {
        margin-bottom: $spacer-lg;
      }
    }
  }
}

.main {
  flex: 1;
  text-align: center;

  &__section {
    padding: $spacer-xxl $reset-0;

    &--index {
      padding: $spacer-lg $reset-0 $spacer-xs;
    }

    &--about {
      padding: $spacer-lg $reset-0;
    }

    &--contact {
      padding: $spacer-lg $reset-0 $spacer-xxl;
    }

    &--intro {
      margin: $spacer-m $spacer-s $spacer-xlg;
    }

    &__title {
      background: url('../img/banner.png') center center no-repeat;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacer-lg;
    }

    &__app-demo {
      width: 100%;
      max-width: 520px;
    }

    &__wrap {
      margin: $spacer-xlg $spacer-s $reset-0;
    }

    &__article {
      margin: $spacer-m $reset-0;
    }
  }

  &__aside {
    padding: $spacer-xxl $spacer-s;

    h3 {
      margin-bottom: $spacer-lg;
    }

    &--about {
      padding-top: $reset-0;
    }
  }
}

.row {
  padding: $reset-0 $spacer-s;
}

.item-container {
  margin: $spacer-lg $reset-0;
}

.text {

  &--left {
    text-align: left;
  }
}

.circle {
  background-color: lighten($gray, 2%);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer-s;

  i {
    color: $blue;
    font-size: 70px;
  }
}

.testimonial {
  background-color: lighten($gray, 1%);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacer-xxl;
  border-radius: 5px;

  &__text {
    transform: translate(0, -12%);
    padding: $reset-0 $spacer-m;
  }
}

.footer {
  min-width: 320px;
  text-align: center;

  &__main {
    margin: $spacer-lg $reset-0;
  }

  &__img {
    width: 100%;
    max-width: 125px;
  }

  &__list {

    &__item {

      &--extra-space {
        margin-bottom: $spacer-lg;
      }
    }
  }
}
